@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.postit {
  border-radius:  5px;
  background: #ddd;
  margin: 10px;
  color: #333;
  padding: 35px 10px 20px 10px;
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
  position: relative;
}

.category-0 {
  border-right: 16px solid rgb(28, 184, 65);
}

.category-1 {
  border-right: 16px solid rgb(223, 117, 20);
}

.category-2 {
  border-right: 16px solid rgb(202, 60, 60);
}

.action {
    display: none;
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0; 
    margin: 4px;
}

.postit:hover .action {
  display: block;
}

.vote { 
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0; 
    vertical-align: middle;
    background: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;    
    border: 1px solid silver;
    padding: 3px 10px 3px 10px;
}

.fa { 
  padding-left: 6px; 
  cursor: pointer;
}