<html>
<head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="todo.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">    
    <script src="main.dart" type="application/dart"></script>
    <script src="packages/browser/dart.js"></script>
    <script src="packages/browser/interop.js"></script>
</head>
<body ng-app>

<div ng-hide="true" class="border well loading">Wait, we're are loading this awesome app...</div>
  
<div retro-controller id="layout" class="" ng-cloak>    

  <div id="main">
    <div class="header">
        <h1>Retrospéctive</h1>
        <h2>Votre avis est intéressant</h2>
    </div>

    <div class="content">
      <form class="pure-form" onsubmit="return false;">
        <div class="pure-g cols">
            <div class="pure-u-1-3">
            <input type="text" placeholder="Avis" ng-model="retro.postItItemGood.text">
            <button type="submit" class="pure-button button-success" ng-click="retro.add(0)">Ajouter</button>     
              <div class="col">
              <h3>Bien</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 0}">
                 <div class="postit">
                  <div class="vote_action">
                    <button ng-click="retro.addVote(postit)">+</button>
                    <button ng-click="retro.removeVote(postit)">-</button>
                  </div>
                  <div class="vote">{{ postit.vote }}</div>
                  {{ postit.text }} 
                </div>
              </div>
             </div>
          </div>
    
          <div class="pure-u-1-3">
            <input type="text" placeholder="Avis" ng-model="retro.postItItemMedium.text">
            <button type="submit" class="pure-button button-warning" ng-click="retro.add(1)">Ajouter</button>         
               <div class="col">
                <h3>Peut mieux faire</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 1}">
                 <div class="postit">
                  <div class="vote_action">
                    <button ng-click="retro.addVote(postit)">+</button>
                    <button ng-click="retro.removeVote(postit)">-</button>
                  </div>
                  <div class="vote">{{ postit.vote }}</div>
                  {{ postit.text }} 
                </div>
               </div>
               </div>
          </div>
    
          <div class="pure-u-1-3">
            <input type="text" placeholder="Avis" ng-model="retro.postItItemBad.text">
            <button type="submit" class="pure-button button-error" ng-click="retro.add(2)">Ajouter</button>         
              <div class="col">
                <h3>A ameliorer</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 2}">
                 <div class="postit">
                  <div class="vote_action">
                    <button ng-click="retro.addVote(postit)">+</button>
                    <button ng-click="retro.removeVote(postit)">-</button>
                  </div>
                  <div class="vote">{{ postit.vote }}</div>
                    {{ postit.text }}
                    </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </form>
  </div>
 </div>
</div> 
 
</body>
</html>
