<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="main.dart" type="application/dart"></script>
  <script src="packages/browser/dart.js"></script>
  <script src="packages/browser/interop.js"></script>
  <link rel="import" href="comp/postit/postit_component.html">
</head>
<body ng-app>

  <div ng-hide="true" class="border well loading">Wait, we're are
    loading this awesome app...</div>

  <div retro-controller id="layout" class="" ng-cloak>

    <div class="top pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li ng-class="{true: 'pure-menu-selected', false: ''}[retro.mode == 0]" ng-click="retro.setMode(0)"><a href="#post-it">Post-it</a></li>
        <li ng-class="{true: 'pure-menu-selected', false: ''}[retro.mode == 1]" ng-click="retro.setMode(1)"><a href="#votes">Votes</a></li>
        <li ng-class="{true: 'pure-menu-selected', false: ''}[retro.mode == 2]" ng-click="retro.setMode(2)"><a href="#results">Résultat</a></li>
      </ul>
    </div>

    <div id="main">
      <div class="header">
        <h1>Retrospective</h1>
        <h2>Votre avis est intéressant</h2>
      </div>

      <div class="content">
        <div ng-if="retro.mode == 0 || retro.mode == 1">
          <div class="pure-g cols">

            <div class="pure-u-1-3">
              <div ng-if="retro.mode == 0">
                <input type="text" placeholder="Avis" ng-model="retro.newPostItTextGood">
                <button type="submit" class="pure-button button-success" ng-click="retro.add(0, retro.newPostItTextGood)">Ajouter</button>
              </div>
              <div class="col">
                <h3>Bien</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 0}">
                  <postit text="postit.text" vote="postit.vote" category="postit.category" mode="retro.mode" on-remove="retro.remove(postit)"></postit>
                </div>
              </div>
            </div>
            
            <div class="pure-u-1-3">
              <div ng-if="retro.mode == 0">
                <input type="text" placeholder="Avis" ng-model="retro.newPostItTextAverage">
                <button type="submit" class="pure-button button-warning" ng-click="retro.add(1,retro.newPostItTextAverage)">Ajouter</button>
              </div>
              <div class="col">
                <h3>Peut mieux faire</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 1}">
                  <postit text="postit.text" vote="postit.vote" category="postit.category" mode="retro.mode" on-remove="retro.remove(postit)"></postit>
                </div>
              </div>
            </div>

            <div class="pure-u-1-3">
              <div ng-if="retro.mode == 0">
                <input type="text" placeholder="Avis" ng-model="retro.newPostItTextBad">
                <button type="submit" class="pure-button button-error" ng-click="retro.add(2,retro.newPostItTextBad)">Ajouter</button>
              </div>
              <div class="col">
                <h3>A améliorer</h3>
                <div ng-repeat="postit in retro.postItList | filter: {category: 2}">
                  <postit text="postit.text" vote="postit.vote" category="postit.category" mode="retro.mode" on-remove="retro.remove(postit)"></postit>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="retro.mode == 2">
        <div class="pure-g cols">
          <div class="pure-u-1-1">
            <div class="col">
              <h3>Synthèse</h3>
              <div ng-repeat="postit in retro.postItList | orderBy:'vote':true">
                 <postit text="postit.text" vote="postit.vote" category="postit.category" mode="retro.mode" on-remove="retro.remove(postit)"></postit>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>
</body>
</html>
