@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  padding: 20px;
  font-family: 'Droid Sans', sans-serif;
}

h3 {
  font-family: 'Droid Sans', sans-serif;
}

.top {
  position: fixed !important;
  top: 0;
  left: 0;
  background: #333 !important;
  color: white !important;
}

.pure-menu a {
  color: white !important;
}

.pure-menu-selected a {
  color: silver !important;
}

.pure-menu li a:hover {
  color: black !important;
}
.ng-hide {
  display: none;
}

li.done {
  color: gray;
  text-decoration: line-through;
}

input[type="text"] {
  height: 30px;
  width: 192px;
}

.border {
  width: 360px;
  margin: 20px auto;
  padding-top: 0;
  padding-bottom: 0;
}

.col {
  background: #333;
  border-radius:  5px;
  color: #ddd;
  text-align: center;
  margin: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.data {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;   
}
.cols input {
  margin: 4px;
}

.postit {
  border-radius:  5px;
  background: #ddd;
  margin: 10px;
  color: #333;
  padding: 20px 10px 20px 10px;
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
  position: relative;
}

.vote_action {
    display: none;
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0; 
    margin: 4px;
}

.vote_action button {
  width: 30px; 
  background: white;
  border-radius: 5px; 
  border: 1px solid silver;
}

.vote { 
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0; 
    vertical-align: middle;
    background: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;    
    border: 1px solid silver;
    padding: 3px 10px 3px 10px;
}

.vote span { display:inline-block; vertical-align:middle }

.postit:hover .vote_action {
  display: block;
}

.vote_action div {
  cursor: pointer;
  display: inline-block;
  background: white;
  margin: 2px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

.button-error {
    background: rgb(202, 60, 60) !important; 
    color: white !important; 
    border-radius: 4px !important;   
    font-family: 'Droid Sans', sans-serif !important;
}
.button-warning {
    background: rgb(223, 117, 20) !important; 
    color: white !important; 
    border-radius: 4px !important;   
    font-family: 'Droid Sans', sans-serif !important;        
}
.button-success {
    background: rgb(28, 184, 65) !important; 
    color: white !important; 
    border-radius: 4px !important;
    font-family: 'Droid Sans', sans-serif !important;      
}
.right {
  float: right;
}

form button {
  width: 80px;
}

form input {
  width: 300px !important;
  font-family: 'Droid Sans', sans-serif !important;  
}
ul.well {
  background: white;
}

p {
  margin: 0 0 6px;
  padding-top: 4px;
}

[ng-cloak] {
  display: none;
}

.loading {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }
        #layout.active #menu {
            left: 150px;
            width: 150px;
        }

        #layout.active .menu-link {
            left: 150px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}